:root {
  --bg: #F5F5F5;
  --bg-focus: #E9E9E9;
  --primary-clear: #0070C0;
  --primary-dull: #004E86;
  --primary-visible: #6EC3FF;
  --accent-clear: #FFC000;
  --accent-dull: #B38600;
  --clear: #333333;
  --dull: #737373;
  --duller: #FFFFFF;
  --el-color-primary: var(--primary-dull);
  --el-color-primary-light-3: var(--primary-clear);
  --el-color-primary-light-5: var(--primary-visible);
  --el-text-color-primary: var(--clear);
  --el-color-info: var(--dull);
  --el-fill-color-blank: var(--duller);
}

html.dark {
  --bg: #1e293b;
  --bg-focus: #334155;
  --primary-clear: #2563eb;
  --primary-dull: #598EF3;
  --primary-visible: #D3E6FE;
  --accent-clear: #d946ef;
  --accent-dull: #fae8ff;
  --clear: #cbd5e1;
  --dull: #94a3b8;
  --duller: #475569;
}

body {
  margin: 0;
}

#app {
  background: var(--bg);
  height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}